rosbag2_*/
**/build/
**/install/
**/log/
*dataset/
**/__pycache__/
bag/
**/cache/
**/.vscode/
*.log
.git
utils/src/pcd_filter/map_clean/*.pcd
slam/src/pcd_global/real/*.pcd
slam/src/pcd_global/sim/*.pcd
slam/src/pcd_global/test/*.pcd